:root {
    --container-spacing-px: 20px;
  }

  #calculator {
    background-color: rgb(20, 20, 20);
    display: grid;
    width: 600px;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 2rem;
}

#calculator-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: var(--container-spacing-px);
    margin-bottom: var(--container-spacing-px);
    color: rgb(137, 201, 8);
    background-color: rgb(31, 56, 70);
    line-height: 100px;
    width: 500px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 1rem;

}

#input-label {
    margin-left: var(--container-spacing-px);
}

#output-label {
    margin-right: var(--container-spacing-px);
}

#button-container {
    display: grid;
    margin: auto;
    width: 560px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: var(--container-spacing-px);
    grid-column-gap: var(--container-spacing-px);
    grid-row-gap: var(--container-spacing-px);
}

.calc-button {
    background-color: LightSkyBlue;
    text-align: center;
    border: 2px solid #ced4da;
    border-radius: 1rem;
}

.nr-button {
    
}

.operator-button {

}

.equals-button {
    
}

.clear-button {

}