:root {
    --container-spacing-px: 20px;
    --color-calcText: rgb(137, 201, 8);
    --color-background: rgb(31, 56, 70);
  }

  #calculator {
    background-color: rgb(20, 20, 20);
    display: grid;
    width: 600px;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 2rem;
}

#calculator-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: var(--container-spacing-px);
    margin-bottom: var(--container-spacing-px);
    color: var(--color-calcText);
    background-color: var(--color-background);
    line-height: 100px;
    width: 500px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 1rem;
}

#input-label {
    margin-left: var(--container-spacing-px);
}

#output-label {
    margin-right: var(--container-spacing-px);
}

#button-container {
    display: grid;
    margin: auto;
    grid-template-columns: 4fr 1fr;
    width: 600px;
}

#digit-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-evenly;
    grid-column-gap: var(--container-spacing-px);
    grid-row-gap: var(--container-spacing-px);
}

#operator-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.calc-button {
    background-color: LightSkyBlue;
    text-align: center;
    border: 2px solid #ced4da;
    border-radius: 1rem;
}